<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; overflow: hidden;">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Cat Runner">
      {assigns[:page_title] || "Cat Runner"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
